body {
  font-family: "Roboto", "Noto Sans KR", sans-serif;
  font-size: 16px;
  color: #111;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
}

#logo {
  position: absolute;
  left: 60px;
  top: 15px;
}
#logo a img {
  width: 80px;
  height: 30px;
}

.menuBtn {
  position: fixed;
  top: 50%;
  left: 60px;
  width: 110px;
  height: 110px;
  background-color: #f97290;
  color: #fff;
  transform: translateY(-50%);
}
.menuBtn .menuContainer {
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}
.menuBtn .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  margin-top: 10px;
  font-weight: 700;
}
.menuBtn .hamburgerBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menuBtn .hamburgerBtn span {
  width: 36px;
  height: 2px;
  display: block;
  position: absolute;
  background-color: #fff;
}
.menuBtn .hamburgerBtn span:nth-child(1) {
  top: 10px;
}
.menuBtn .hamburgerBtn span:nth-child(2) {
  top: 20px;
}
.menuBtn .hamburgerBtn span:nth-child(3) {
  top: 30px;
}

#headerLayout {
  position: fixed;
  z-index: 99;
}
#headerLayout .headerTop {
  position: fixed;
  top: 0;
  height: 60px;
  width: 100vw;
  background-color: #2c99e4;
}
#headerLayout .headerBottom {
  position: fixed;
  bottom: 0;
  height: 60px;
  width: 100vw;
  background-color: #2c99e4;
}
#headerLayout .headerLeft {
  width: 60px;
  height: 100vh;
  background-color: #2c99e4;
}
#headerLayout .headerRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 60px;
  height: 100vh;
  background-color: #2c99e4;
}

#header {
  display: flex;
  position: relative;
  background: none;
  color: #fff;
  height: 60px;
  z-index: 9999;
}
#header .header-slogan {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.2em;
}
#header .header-language {
  display: flex;
  position: absolute;
  right: 60px;
  top: 22px;
  font-size: 13px;
  font-weight: 700;
}
#header .header-language p {
  padding-left: 12px;
}
#header .header-language .kor:after {
  content: "";
  display: block;
  position: absolute;
  top: 2px;
  left: 43px;
  width: 1px;
  height: 9px;
  background-color: #fff;
}