section {
  padding: 130px 0;
}

.pgTitle {
  font-size: 90px;
  font-weight: 800;
}

.pgDesc {
  padding-top: 20px;
  font-size: 18px;
  line-height: 1.5;
}

#mainVisual {
  position: relative;
  height: calc(100vh - 60px);
  overflow: hidden;
  background-image: url("../images/main/mainvisual-bg.jpg");
  background-size: cover;
}
#mainVisual .mainBgContainer {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#mainVisual .mainBgContainer .mainBg {
  display: flex;
  position: relative;
  height: 100vh;
  overflow: hidden;
  transform: scaleX(1.1);
}
#mainVisual .mainBgContainer .mainBg iframe {
  display: block;
  position: absolute;
  width: 1700px;
  height: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#mainVisual .mainDescContainer {
  position: relative;
  height: 100vh;
}
#mainVisual .mainDescContainer ul {
  position: relative;
  margin-left: 220px;
  margin-top: 40px;
  z-index: 10;
}
#mainVisual .mainDescContainer ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 100px;
  margin-left: 200px;
  color: #fff;
}
#mainVisual .mainDescContainer ul li.swiper-slide-visible {
  opacity: 0 !important;
}
#mainVisual .mainDescContainer ul li.swiper-slide-active {
  opacity: 1 !important;
}
#mainVisual .mainDescContainer ul li.swiper-slide-prev {
  opacity: 0 !important;
}
#mainVisual .mainDescContainer ul li .btnContainer {
  position: relative;
  margin-top: 30px;
}
#mainVisual .mainDescContainer ul li .btnContainer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 60px;
  font-size: 17px;
  font-weight: 600;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject {
  background-color: #f97290;
  position: relative;
  cursor: pointer;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject span {
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/common/project-arrow-icon.svg");
  top: 49%;
  right: 80px;
  transform: translateY(-50%);
  width: 24px;
  height: 13px;
  opacity: 0;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject:hover {
  background-color: #fff;
  color: #f97290;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject:hover span {
  margin-right: 30px;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnProject:hover:after {
  opacity: 1;
  right: 73px;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo {
  margin-left: 20px;
  background: none;
  width: 160px;
  border: 2px solid #fff;
  box-sizing: border-box;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo span {
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo:after {
  content: "";
  position: absolute;
  display: block;
  background-image: url("../images/common/video-icon.svg");
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
  width: 15px;
  height: 15px;
  opacity: 0;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo:hover {
  background-color: #f97290;
  border-color: #f97290;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo:hover span {
  margin-right: 30px;
  transition: all 0.4s ease;
}
#mainVisual .mainDescContainer ul li .btnContainer .btnVideo:hover:after {
  opacity: 1;
  right: 35px;
  transition: all 0.4s ease;
}
#mainVisual .scrollBtn {
  z-index: 10;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#mainVisual .scrollBtn img {
  width: 30px;
  height: 30px;
}
#mainVisual .scrollBtn span {
  display: block;
  padding-top: 15px;
  color: #ccc;
  font-size: 18px;
  font-weight: 700;
}
#mainVisual .scrollBtn:hover img {
  animation: scrollDown 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) 0s infinite alternate;
}
#mainVisual .scrollBtn:hover span {
  color: #fff;
}

#project {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: flex-end;
  position: relative;
  align-items: center;
}
#project .projectBg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#project .projectBg .bgPattern {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../images/main/project-bg.png");
}
#project .projectBg .bgColor {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #193b90;
  z-index: -1;
}
#project .projectBg .bgCharacter {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#project .projectBg .bgCharacter .bgLarva {
  height: 100%;
  background-image: url("../images/main/projet-jumbo-larva.png");
  background-repeat: no-repeat;
  background-position: 0 50px;
}
#project .projectContainer {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  left: 200px;
  margin-top: 100px;
}
#project .projectContainer .projectDesc {
  color: #fff;
}
#project .projectContainer .swiper-slide:not(.swiper-slide-active) {
  opacity: 0 !important;
}
#project .swiperContainer {
  display: flex;
  position: relative;
  flex-basis: 44%;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  margin-right: 60px;
}
#project .swiperContainer ul li {
  position: relative;
}
#project .swiperContainer ul li a[data-project=larva]:after {
  border-color: #f8c10b;
}
#project .swiperContainer ul li a[data-project=larva-kids]:after {
  border-color: #f8c10b;
}
#project .swiperContainer ul li a[data-project=dinocore]:after {
  border-color: #1dd7a2;
}
#project .swiperContainer ul li a[data-project=wingcle]:after {
  border-color: #a25e34;
}
#project .swiperContainer ul li a[data-project=rotary-park]:after {
  border-color: #6d458b;
}
#project .swiperContainer ul li a[data-project="vicky&johnny"]:after {
  border-color: #d12301;
}
#project .swiperContainer ul li a[data-project=oscars-oasis]:after {
  border-color: #5d8301;
}
#project .swiperContainer ul li a {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: auto;
}
#project .swiperContainer ul li a:after {
  content: "";
  border: 2px solid;
  opacity: 0;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}
#project .swiperContainer ul li a img {
  max-width: 100%;
  margin: auto;
}
#project .swiperContainer ul li a span {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
}
#project .swiperContainer ul li.projectHover a:after {
  opacity: 1;
  border: 10px solid;
}
#project .swiperContainer ul li.projectHover a[data-project=larva]:after {
  border-color: #f8c10b;
}
#project .swiperContainer ul li.projectHover a[data-project=larva-kids]:after {
  border-color: #f8c10b;
}
#project .swiperContainer ul li.projectHover a[data-project=dinocore]:after {
  border-color: #1dd7a2;
}
#project .swiperContainer ul li.projectHover a[data-project=wingcle]:after {
  border-color: #a25e34;
}
#project .swiperContainer ul li.projectHover a[data-project=rotary-park]:after {
  border-color: #6d458b;
}
#project .swiperContainer ul li.projectHover a[data-project="vicky&johnny"]:after {
  border-color: #d12301;
}
#project .swiperContainer ul li.projectHover a[data-project=oscars-oasis]:after {
  border-color: #5d8301;
}
#project .swiperContainer .arrowBox {
  display: flex;
  width: 100%;
  margin-top: 20px;
}
#project .swiperContainer .arrowBox .arrow {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  opacity: 0.5;
  cursor: pointer;
}
#project .swiperContainer .arrowBox .arrow span {
  font-weight: 700;
  color: #fff;
}
#project .swiperContainer .arrowBox .arrow:hover {
  opacity: 1;
  background-color: #f97290;
}
#project .swiperContainer .arrowBox .arrow:hover span {
  color: #fff;
}
#project .swiperContainer .arrowBox .arrow.next {
  margin-left: 10px;
}

#news {
  position: relative;
  height: 100vh;
  overflow: hidden;
}
#news .newsCharacter {
  position: absolute;
  top: 40px;
  left: 200px;
  width: 100%;
  height: 50%;
}
#news .newsContainer {
  position: relative;
  top: 36%;
  left: 50%;
}
#news .newsContainer ul li {
  width: 370px !important;
  position: relative;
}
#news .newsContainer ul li a .imgBox {
  position: relative;
}
#news .newsContainer ul li a .imgBox:after {
  content: "";
  border: 2px solid #2c99e4;
  opacity: 0;
  margin: auto;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s ease;
}
#news .newsContainer ul li a img {
  width: 100%;
  height: 100%;
}
#news .newsContainer ul li a .newsTitle {
  display: -webkit-box;
  height: 1.5em;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 1;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 30px;
  font-weight: 600;
}
#news .newsContainer ul li a .newsDesc {
  display: -webkit-box;
  height: 3em;
  overflow: hidden;
  line-height: 1.5;
  -webkit-line-clamp: 2;
  /* autoprefixer: off */
  -webkit-box-orient: vertical;
  word-break: break-all;
  font-size: 15px;
  font-weight: 500;
}
#news .newsContainer ul li a .moreBtn {
  width: 45px;
  height: 45px;
  border: 2.7px solid #2c99e4;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
#news .newsContainer ul li a .moreBtn span {
  color: #2c99e4;
  font-weight: 700;
}
#news .newsContainer ul li a:hover .imgBox:after {
  border-width: 7px;
  opacity: 1;
}
#news .newsContainer ul li a:hover .moreBtn {
  background-color: #2c99e4;
}
#news .newsContainer ul li a:hover .moreBtn span {
  color: #fff;
}
#news .pgTitle {
  position: absolute;
  bottom: 20%;
  color: #2c99e4;
  margin-left: 180px;
  z-index: -1;
}
#news .arrowBox {
  display: flex;
  width: 100%;
  margin-top: 60px;
}
#news .arrowBox .arrow {
  position: relative;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  cursor: pointer;
}
#news .arrowBox .arrow.prev {
  margin-right: 20px;
}
#news .arrowBox .arrow span {
  font-weight: 700;
  color: #f97290;
}
#news .arrowBox .arrow:hover {
  background-color: #f97290;
}
#news .arrowBox .arrow:hover span {
  color: #fff;
}

#contact {
  position: relative;
  height: 100vh;
  background-color: #182548;
  color: #fff;
}
#contact span {
  font-size: 18px;
  font-weight: 600;
}
#contact p {
  font-size: 15px;
  font-weight: 500;
}
#contact .firstLine {
  display: flex;
  justify-content: center;
  height: 200px;
  padding-top: 50px;
  margin-top: 100px;
}
#contact .firstLine .borderLine {
  border-bottom: 12px solid #fff;
  box-sizing: border-box;
}
#contact .firstLine .borderLine:nth-child(1) {
  border-right: 12px solid #fff;
}
#contact .firstLine .address {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 37%;
  height: 100%;
}
#contact .firstLine .address span {
  margin-top: 20px;
}
#contact .firstLine .address p {
  margin-top: 20px;
}
#contact .firstLine .companyNumber {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37%;
  height: 100%;
}
#contact .firstLine .companyNumber p {
  padding-left: 20px;
  font-size: 45px;
  font-weight: 700;
}
#contact .secondLine {
  display: flex;
  justify-content: center;
}
#contact .contactTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  font-weight: 700;
  width: 37%;
  border-right: 12px solid #fff;
  box-sizing: border-box;
}
#contact .contactInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37%;
}
#contact .contactInfo .quarter {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#contact .contactInfo .quarter li {
  width: 50%;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}
#contact .contactInfo .quarter li .license {
  padding-bottom: 14px;
}
#contact .contactInfo .quarter li div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#contact .contactInfo .quarter li p {
  padding-top: 10px;
}
#contact .contactInfo .quarter .fax {
  position: relative;
}
#contact .contactInfo .quarter .fax:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: -12px;
  background-color: #182548;
  width: 100%;
  height: 25px;
}
#contact .contactInfo .quarter .mailInfo,
#contact .contactInfo .quarter .employInfo {
  border-left: 12px solid #fff;
}
#contact .contactInfo .quarter .madeInfo,
#contact .contactInfo .quarter .employInfo {
  border-top: 12px solid #fff;
}

@keyframes scrollDown {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@media all and (max-width: 1500px) {
  .pgTitle {
    font-size: 60px;
  }
  .pgDesc {
    padding-top: 10px;
    font-size: 14px;
  }
  #mainVisual .mainDescContainer ul {
    margin-left: 170px;
  }
  #mainVisual .mainDescContainer ul li .btnContainer {
    margin-top: 20px;
  }
  #mainVisual .mainDescContainer ul li .btnContainer a {
    font-size: 15px;
    width: 170px;
    height: 40px;
  }
  #mainVisual .mainDescContainer ul li .btnContainer .btnVideo {
    width: 120px;
    margin-left: 10px;
  }
  #mainVisual .scrollBtn {
    bottom: 30px;
  }
  #mainVisual .scrollBtn span {
    padding-top: 15px;
    font-size: 15px;
  }
  #project .projectContainer {
    left: 170px;
  }
  #news .newsCharacter {
    left: 170px;
  }
}
@media all and (max-width: 1200px) {
  #mainVisual {
    height: 100vh;
  }
  #mainVisual .mainDescContainer ul {
    margin-left: 90px;
  }
  #project {
    height: 100vh;
  }
  #project .projectContainer {
    left: 90px;
  }
  #project .swiperContainer ul li {
    width: 200px !important;
  }
  #news .newsCharacter {
    left: 90px;
  }
  #news .pgTitle {
    margin-left: 90px;
  }
  #contact span {
    font-size: 16px;
  }
  #contact p {
    font-size: 13px;
  }
  #contact .contactTitle {
    font-size: 60px;
  }
  #contact .firstLine .companyNumber p {
    font-size: 40px;
  }
}
@media all and (max-width: 940px) {
  .fp-overflow.fp-table {
    display: flex !important;
  }
}
@media all and (max-width: 940px) and (max-height: 800px) {
  #mainVisual .mainDescContainer ul li h3 {
    display: none;
  }
  #mainVisual .mainDescContainer ul li p {
    display: none;
  }
  #mainVisual .mainDescContainer ul li .btnContainer {
    display: none;
  }
}
@media all and (max-width: 940px) {
  #mainVisual .mainBgContainer {
    display: none;
  }
  #mainVisual .mainDescContainer {
    background-color: #000;
  }
  #mainVisual .mainDescContainer ul {
    margin-left: 0;
  }
  #mainVisual .mainDescContainer ul li {
    align-items: center;
    margin-top: 0px;
  }
  #mainVisual .mainDescContainer ul li img {
    opacity: 0.5 !important;
    z-index: -1;
  }
  #mainVisual .scrollBtn {
    z-index: 10;
  }
  #mainVisual .pagination {
    position: absolute;
    top: 71%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
  #mainVisual .pagination .bullets .swiper-pagination-bullet {
    border: 2.5px solid #fff;
    margin: 4px;
    width: 12px;
    opacity: 1;
    background: none;
    height: 12px;
  }
  #mainVisual .pagination .bullets .swiper-pagination-bullet-active {
    background: var(--swiper-pagination-color, var(--swiper-theme-color)) !important;
  }
}
@media all and (max-width: 940px) {
  #project .projectBg .bgCharacter {
    display: none;
  }
  #project .swiperContainer {
    flex-basis: auto;
    margin-top: 200px;
    margin-right: 0;
  }
  #project .swiperContainer ul li {
    width: 210px !important;
  }
  #project .swiperContainer .arrowBox {
    display: none;
  }
  #project .projectContainer {
    top: 10%;
  }
  #project .projectContainer .projectDesc {
    width: 500px;
  }
  #project .projectContainer .projectDesc .pgTitle {
    font-size: 70px;
  }
  #project .projectContainer .projectDesc .pgDesc {
    word-break: keep-all;
    font-size: 16px;
  }
  #project .projectContainer .projectDesc .pgDesc br {
    display: none;
  }
}
@media all and (max-width: 940px) {
  #news {
    height: 60vh;
    overflow: hidden;
  }
  #news .pgTitle {
    position: absolute;
    top: 10%;
    font-size: 70px;
  }
  #news .newsCharacter {
    display: none;
  }
  #news .newsContainer {
    top: 30%;
    left: 5%;
  }
  #news .newsContainer ul li {
    width: 350px !important;
  }
  #news .newsContainer ul li a img {
    width: 100%;
  }
  #news .newsContainer ul li a .newsTitle {
    margin-top: 20px;
    font-size: 20px;
  }
  #news .newsContainer ul li a .newsDesc {
    margin-top: 10px;
    color: #333;
    font-size: 14px;
    font-weight: 300;
  }
  #news .newsContainer ul li a .moreBtn {
    display: none;
  }
  #news .arrowBox {
    display: none;
  }
}
@media all and (max-width: 940px) {
  #contact {
    height: 120vh;
  }
  #contact li {
    margin: 20px 0;
  }
  #contact .contactTitle {
    font-size: 80px;
    position: absolute;
    top: 8%;
    left: 50px;
    border: none;
  }
  #contact .firstLine {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
    margin-top: 170px;
  }
  #contact .firstLine .borderLine {
    border-right: none !important;
    border-bottom: 4px solid #fff;
    padding-bottom: 20px;
  }
  #contact .firstLine .borderLine img {
    display: none;
  }
  #contact .firstLine .companyNumber {
    flex-direction: column;
    align-items: flex-start;
    width: 95%;
  }
  #contact .firstLine .companyNumber p {
    font-size: 30px;
    padding-left: 0;
    margin-top: 20px;
  }
  #contact .firstLine .address {
    align-items: flex-start;
    width: 95%;
  }
  #contact .contactInfo {
    width: 100%;
  }
  #contact .contactInfo .quarter {
    width: 95%;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  #contact .contactInfo .quarter .fax:after {
    display: none;
  }
  #contact .contactInfo .quarter .mailInfo,
#contact .contactInfo .quarter .employInfo,
#contact .contactInfo .quarter .madeInfo {
    border-left: none;
    border-top: none;
  }
  #contact .contactInfo .quarter li {
    width: 100%;
    height: 100%;
    align-items: flex-start;
    margin-left: 0;
    padding-bottom: 25px;
    border-bottom: 0.7px solid #aaa;
  }
  #contact .contactInfo .quarter li div {
    align-items: flex-start;
  }
  #contact .contactInfo .quarter li p {
    z-index: 1;
  }
}
@media all and (max-width: 740px) {
  #mainVisual {
    height: 80vh;
  }
  #mainVisual .mainDescContainer {
    height: 80vh;
  }
  #mainVisual .mainDescContainer ul {
    margin-top: 0;
  }
  #mainVisual .mainDescContainer ul li img {
    height: 100% !important;
  }
  #mainVisual .mainDescContainer ul li h3 {
    font-size: 40px;
  }
  #mainVisual .mainDescContainer ul li p {
    font-size: 14px;
  }
  #mainVisual .mainDescContainer ul li .btnContainer .btnProject {
    font-size: 12px;
    width: 130px;
    height: 40px;
  }
  #mainVisual .mainDescContainer ul li .btnContainer .btnVideo {
    width: 110px;
  }
  #mainVisual .scrollBtn img {
    width: 25px;
    height: 25px;
  }
  #mainVisual .scrollBtn span {
    font-size: 12px;
  }
  #project {
    height: 90vh;
  }
  #project .swiperContainer ul li a span {
    height: 70px;
    font-size: 15px;
  }
  #project .projectContainer {
    top: 6%;
    left: 40px;
  }
  #project .projectContainer .projectDesc {
    width: 350px;
  }
  #project .projectContainer .projectDesc .pgTitle {
    font-size: 30px;
  }
  #project .projectContainer .projectDesc .pgDesc {
    font-size: 12px;
  }
  #news .pgTitle {
    font-size: 30px;
    margin-left: 40px;
  }
  #contact {
    height: 100vh;
  }
  #contact .firstLine {
    margin-top: 100px;
  }
  #contact li {
    margin: 5px 0;
  }
  #contact .contactTitle {
    justify-content: start;
    font-size: 30px;
    left: 17px;
  }
}
@media all and (max-height: 770px) {
  #contact .firstLine {
    margin-top: 50px;
  }
  #contact .contactInfo .quarter li {
    padding-bottom: 12px;
  }
}